<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/integration/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ES Smart Search Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>